
#topics_timeline
			
	.tl_block		
		.tl_content
			width 49%			
			border 0px
			display inline-block
			padding 2em
			vertical-align top

			&.separator
				padding-bottom 1em
				border-left 0.4em dashed negro

			&.tl_right				
				border-left 0.4em solid negro
				padding-left 1em

				&.less_padding
					padding-bottom 0em
					padding-top 1em

			&.tl_left
				padding-bottom 0px

			h3
				text-align right
				font-weight normal
				font-size 2.5em
				margin 0

				@media screen and (max-width: 600px)	
					font-size 2em

				@media screen and (max-width: 480px)	
					font-size 1.8em

			.days_wrapper
				height auto
				padding-bottom 3em

				.day
					width 20%
					color white
					padding 0.5em
					font-size 1.7em

					@media screen and (max-width: 600px)	
						display block
						width 60%
						font-size 1.5em
					


		
		
